:root {
  --color-primary: #154363;
  --color-secondary: #313848;
  --color-accent: #f7c6e1;
  --color-headings: #1b0760;
  --color-body: #222222;
  --color-body-light: #ffffff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-body);
}

h2,
h3 {
  font-family: "Playfair Display", serif;
  line-height: 1.1;
}

/* Buttons */
.btn {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 2rem 3rem;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-body-light);
}

.btn--accent {
  background-color: var(--color-accent);
  border: none;
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--cols-2 {
    grid-template-columns: 1fr 1fr;
  }
}

/* Icons */
.icon {
  width: 32px;
  height: 32px;
}

.icon-container {
  background-color: var(--color-accent);
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
