:root {
  --color-primary: #154363;
  --color-secondary: #313848;
  --color-accent: #f7c6e1;
  --color-headings: #1b0760;
  --color-body: #222222;
  --color-body-light: #ffffff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  line-height: 1.1;
  margin: 0;
}

h3 {
  font-size: 4rem;
  color: var(--color-primary);
  margin-bottom: 48px;
}

p {
  margin-bottom: 48px;
}
/* Buttons */
.btn {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1.5rem 2.5rem;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-body-light);
}

.btn__small {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1.8rem 2.6rem;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-body-light);
}

.btn--accent {
  background-color: var(--color-accent);
  border: none;
}

/* Grids */
.grid {
  display: grid;
  row-gap: 32px;
}

@media screen and (min-width: 768px) {
  .grid--cols-2 {
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
  }

  .grid--cols-4 {
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
  }
}

@media screen and (min-width: 1080px) {
  .grid--cols-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 100px;
  }
}

/* Icons */
.icon {
  width: 32px;
  height: 32px;
}

.icon__large {
  width: 100px;
  height: 40px;
}

.icon-container {
  background-color: var(--color-accent);
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  text-transform: uppercase;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: ease-in 0.3s;
}

.list__padding {
  padding: 5rem 0 4rem 0;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Navigation */
.nav {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem 3rem;
}

.nav__list {
  width: 100%;
  text-align: center;
  margin: 0;
  align-items: center;
}

.list {
  list-style: none;
  padding-left: 0;
}

.nav__item > a {
  color: var(--color-body-light);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.nav__item {
  margin-left: 0;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__item + .nav__item {
    margin-left: 2rem;
  }

  .nav__list {
    width: auto;
    display: flex;
    max-height: 100%;
    opacity: 1;
  }
}

/* Menu Header */

.menu-header {
  border: 2px solid var(--color-primary);
  padding: 2rem;
}

.menu-inner {
  border: 2px solid var(--color-primary);
  padding: 3rem;
  text-align: center;
}

.menu-heading {
  text-transform: uppercase;
  color: var(--color-primary);
  font-size: 4.8rem;
}

/* Footer */

.footer {
  background-color: var(--color-secondary);
  color: #ffffff;
}

.footer__heading {
  text-transform: uppercase;
}

/* Banner */

.banner {
  background-image: url(../images/Banner.jpg);
  background-repeat: no-repeat;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  width: 1440px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__title {
  font-size: 5.8rem;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 1px #000;
}
