<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Category</h2>
    <span class="icon-container">
      <svg class="icon collapsible__chevron">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </span>
  </header>
  <div class="collapsible__content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates est
      nemo quibusdam eos, eum debitis!
    </p>
  </div>
</div>
