<img
  src="images/restaurant-home.jpg"
  srcset="
    images/restaurant-home.jpg       300w,
    images/restaurant-home_932.jpg   932w,
    images/restaurant-home_1315.jpg 1315w,
    images/restaurant-home_1694.jpg 1694w
  "
  alt=""
/>

<!--  With Overlay and Section Title -->

<section class="hero">
  <img
    src="images/restaurant-about-hero/restaurant-about-hero_300.jpg"
    srcset="
      images/restaurant-about-hero/restaurant-about-hero_300.jpg   300w,
      images/restaurant-about-hero/restaurant-about-hero_930.jpg   930w,
      images/restaurant-about-hero/restaurant-about-hero_1302.jpg 1302w,
      images/restaurant-about-hero/restaurant-about-hero_1440.jpg 1440w
    "
    alt=""
    class="img"
  />
  <div class="overlay"><h2 class="hero-heading">Menu</h2></div>
</section>
